.contenedor-header{  /*Estilos para celular*/

    display:grid;
    grid-template-columns: 100vw; /*Columnas*/
    grid-template-areas:"titulo"
                            "cont";
    background-color: beige;
    justify-items: center; /*Centra todo*/
}

h1{ 
    grid-area: titulo;
    font-size: 45px;
    
}

.cont-busqueda-redes{
    grid-area: cont;
}


.redes{
    font-size: 30px; /*Tamaño de los iconos*/
    margin: 1em 30px; /*Espacio entre los iconos de redes*/
    text-align: center;
}
#busqueda{
    padding: 0.7em;
    border-radius: 15px 0 0 15px; /*Bordes de la barra de busqueda*/
   
}

button{
    padding: 0.7em;
}

form{
    display: flex;
} /*Pone las columnas en horizontal y nos permite cambia la distancia nentre columnas*/

nav{
    font-size: 16px;
    padding: 10px;
    background-color: brown;
    display: flex;
    justify-content: space-around;
    border: 2px solid;


}

nav a{ /*Cambiar el color de las letras todos los a que estan dentro de nav*/
    color: aliceblue;
    text-decoration: none;
 }

 nav a:hover{color: rgb(87, 30, 4);

 }
 .hero{
     border: 2px solid;
     color: aliceblue;
     text-align: center;
     font-size: 18px;
     padding: 10px;
     
     background-image: url(portada.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }
 .hero h2, .hero p{
    margin: auto;  
}
 
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
 .card_boton{
    background-color: red; /*color del rectangulo*/
    color: white; /*color de las letras*/
    text-decoration: none;
    border-radius: 10px;  /*Te da bordes en un rectangulo*/
    padding: 16px 20px;
    text-transform: uppercase; /*Te tranasforma a mayusculas todas las letras*/
}



.h33{
    color: chocolate;
    margin: auto;
}
.card-precio-boton{
    display: flex;
}

.card_precio{
    margin-right: 20px;
}

.conocenos{
    display: flex;
    flex-wrap: wrap;
    
}

.conocenos-img{
    width: 300px;
    padding: 40px;
    flex-grow: 1;
}
.conocenos-texto{
    width: 300px;
    padding: 40px;
    flex-grow: 1;
}
.conocenos-img img{
    width: 100%;
}
.centrar{
    text-align: center;
    color: red;
    padding: 10px;
}

.rojito{
    color: rgb(206, 30, 30);
}

footer{
    padding: 50px;
    background-color: bisque;

}

footer li{
    padding: 8px;
}


.copy{
    text-align: center;
}
.libro-img{
    width: 270px;
}

.libro-img img{
    width: 100%;
}

.libros-recomendados{
    padding: 10px;
}

.cont-libro-recomendaciones{ 
    display: flex; 
    overflow: scroll; /*para que meta lo que se sale dentro del scroll*/ 
}

.cont-libros{
    display: flex;
    overflow-x: scroll;
}

.card-libros{
    margin: 0 30px ;
 }
/*Estilo de tablet*/

@media (min-width:400px){/*Te cambia el estilo dependiendo el tamaño de la pantalla*/
   

    /*Estilos para tablet*/
    h1{
        font-size: 60px;
    }
    .cont-busqueda-redes{   
        display: flex;    /*Cambian en horizontal*/
        align-items: center;
    }

    .hero{
      
        font-size: 25px;
        padding: 20px;
    }
    

}
/*estilos para escritorio*/
@media (min-width:900px){
    .contenedor-header{
        grid-template-areas: titulo cont;
    }
    h1{
        font-size: 80px;
    }
}

.hero{
      
    font-size: 35px;
    padding: 80px;
}

.libros-recomendados{
    padding: 40px;
    margin-bottom: 50px;
}

.card{
  
    transition: 0.4s;
    padding: 20px;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgb(180, 180, 164);
    }

.cont-footer{
    display: flex;
}

.cont-footer section{
    width: 300px;
    flex-grow: 1;
    margin: 0 40px;
}

